- 
	var files = [
		    {
		        "type": "file",
		        "name": "favicon.ico"
		    },
		    {
		        "type": "file",
		        "name": "logo.png"
		    },
		    {
		        "name": "studio",
		        "type": "folder",
		        "children": [
		            {
		                "type": "file",
		                "name": "reg-day-banner.jpg"
		            }
		        ]
		    },
		    {
		        "name": "img",
		        "type": "folder",
		        "children": [
		            {
		                "type": "file",
		                "name": "about-bg.jpg"
		            },
		            {
		                "type": "file",
		                "name": "brushes2.jpg"
		            },
		            {
		                "type": "file",
		                "name": "directions.png"
		            },
		            {
		                "type": "file",
		                "name": "events-bg.jpg"
		            },
		            {
		                "type": "file",
		                "name": "contact-bg.jpg"
		            },
		            {
		                "type": "file",
		                "name": "gallery-bg.jpg"
		            },
		            {
		                "type": "file",
		                "name": "regday-group.jpg"
		            },
		            {
		                "type": "file",
		                "name": "index-bg.jpg"
		            },
		            {
		                "type": "file",
		                "name": "post-bg.jpg"
		            },
		            {
		                "type": "file",
		                "name": "_events-bg.jpg"
		            }
		        ]
		    },
		    {
		        "name": "posts",
		        "type": "folder",
		        "children": [
		            {
		                "name": "1-art-jam-thursday",
		                "type": "folder",
		                "children": [
		                    {
		                        "type": "file",
		                        "name": "1-poster.png"
		                    }
		                ]
		            },
		            {
		                "name": "2-reg-day",
		                "type": "folder",
		                "children": [
		                    {
		                        "type": "file",
		                        "name": "2-1-cover.jpeg"
		                    },
		                    {
		                        "type": "file",
		                        "name": "2-2-poster.jpeg"
		                    },
		                    {
		                        "type": "file",
		                        "name": "2-4-info1.jpeg"
		                    },
		                    {
		                        "type": "file",
		                        "name": "2-5-info2.jpeg"
		                    },
		                    {
		                        "type": "file",
		                        "name": "2-3-cover2.jpeg"
		                    },
		                    {
		                        "type": "file",
		                        "name": "2-6-info3.jpeg"
		                    },
		                    {
		                        "type": "file",
		                        "name": "2-vid.gif"
		                    }
		                ]
		            },
		            {
		                "name": "0-iridescence",
		                "type": "folder",
		                "children": [
		                    {
		                        "type": "file",
		                        "name": "0-Angie.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "0-group.jpg"
		                    },
		                    {
		                        "type": "file",
		                        "name": "0-Crystal.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "0-Ivan.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "0-Miriam.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "0-Iris.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "0-Summer.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "0-Victoria.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "0-Nicholas.png"
		                    }
		                ]
		            }
		        ]
		    }
		]