- 
	var files = [
		    {
		        "type": "file",
		        "name": "favicon.ico"
		    },
		    {
		        "type": "file",
		        "name": "logo.png"
		    },
		    {
		        "name": "img",
		        "type": "folder",
		        "children": [
		            {
		                "type": "file",
		                "name": "about-bg.jpg"
		            },
		            {
		                "type": "file",
		                "name": "banner.jpg"
		            },
		            {
		                "type": "file",
		                "name": "contact-bg.jpg"
		            },
		            {
		                "type": "file",
		                "name": "directions.png"
		            },
		            {
		                "type": "file",
		                "name": "events-bg.jpg"
		            },
		            {
		                "type": "file",
		                "name": "home-bg.jpg"
		            },
		            {
		                "type": "file",
		                "name": "index_cover.jpg"
		            }
		        ]
		    },
		    {
		        "name": "posts",
		        "type": "folder",
		        "children": [
		            {
		                "name": "1-reg-day",
		                "type": "folder",
		                "children": [
		                    {
		                        "type": "file",
		                        "name": "group.jpg"
		                    }
		                ]
		            },
		            {
		                "name": "0-iridescence",
		                "type": "folder",
		                "children": [
		                    {
		                        "type": "file",
		                        "name": "Angie.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "Crystal.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "group_banner.jpeg"
		                    },
		                    {
		                        "type": "file",
		                        "name": "Iris.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "Ivan.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "Miriam.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "Nicholas.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "Summer.png"
		                    },
		                    {
		                        "type": "file",
		                        "name": "Victoria.png"
		                    }
		                ]
		            }
		        ]
		    }
		]