doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        title Contact Us

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('assets/img/contact-bg.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .page-heading
                            h1 Contact Us
                            span.subheading Have questions? We have answers.

        // Main Content
        main.mb-4
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        p
                            | Want to get in touch? Contact us with any of our contact information below or visit us at the Art Studio!

                .row.gx-4.gx-lg-5.justify-content-center
                    
                    ul.list-inline.text-center
                        a(href='https://www.instagram.com/artclub_hkusu/')
                            li.list-inline-item
                                span.fa-stack.fa-lg
                                    i.fas.fa-circle.fa-stack-2x
                                    i.fab.fa-instagram.fa-stack-1x.fa-inverse
                            li.list-inline-item
                                .contact-text @artclub_hkusu
                    ul.list-inline.text-center
                        a(href='https://www.facebook.com/hkusu.artclub/')
                            li.list-inline-item
                                span.fa-stack.fa-lg
                                    i.fas.fa-circle.fa-stack-2x
                                    i.fab.fa-facebook-f.fa-stack-1x.fa-inverse
                            li.list-inline-item
                                .contact-text @hkusu.artclub
                    ul.list-inline.text-center
                        a(href='mailto:artclubhkusu@gmail.com')
                            li.list-inline-item
                                span.fa-stack.fa-lg
                                    i.fas.fa-circle.fa-stack-2x
                                    i.fa.fa-envelope.fa-stack-1x.fa-inverse
                            li.list-inline-item
                                .contact-text artclubhkusu@gmail.com

                .row.gx-4.gx-lg-5.justify-content-center
                    img(src='assets/img/directions.png')

        include includes/footer.pug

        include includes/scripts.pug

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')